<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TMA</title>
  <link rel="icon" href="/static/tma.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <header>
    <img src="/static/tma.jpg" alt="logo_image">
    <h1>Teniola's Medical Academy</h1>
    <p>The Best Guide for Medicine Students</p>
  </header>
  <main>
    <div class="about-us">
      <h2>About Us</h2>
      <ul>
        <li>We provide comprehensive tutoring for medical students, from freshers to seniors, covering various medical courses.</li>
        <li>We offer practicals, video tutorials, and community discussions to enhance learning.</li>
        <li>We provide study materials, books, medical tools, and practical apparatus for students to download and use.</li>
        <li>We offer assistance, mentorship, and explanations for projects, assignments, and complex concepts.</li>
      </ul>
      <img src="/static/about.jpg" alt="About Us Image" style="width: 100%;">
    </div>
    <div class="book">
      <h2>Digital Books Available For Sale</h2>
      <!-- Add book details here -->
    </div>
    <div id="books">
      <!-- Add more books here -->
    </div>
    <form id="download">
      <label for="download-code">Enter download code:</label>
      <input type="text" id="download-code" name="download-code" placeholder="Download Code">
      <button type="submit">Submit</button>
    </form>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/index.js"></script>
</body>
<footer>
  <center><p>&copy; 2024, Opeoluwa Adeyeri (+2349075963886). All rights reserved.</p></center>
</footer>
</html>
